body {
  margin: 0;
  padding: 0;
}

.full_page {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.App {
  text-align: center;
}

.App-title {
  background-color: black;
  margin: 0px;
  padding: 10px;
}

.App-header a {
  text-decoration: none;
}

.App-header a:visited {
  color: white;
}

.App-header-logout {
  float: right;
}

/* @material-uiで用意されている設定を上書き */
/* 左横のメニューバー */
.MuiTab-root {
  width: 350px;
  max-width: none !important;
}

.MuiTab-textColorInherit.Mui-selected {
  opacity: 0.7 !important;
}
